<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>uk.jw3.Deadlines.handoff.app</string>
		<string>uk.jw3.Deadlines.handoff.checklist</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Aside</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconAside</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Emoji</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconEmoji</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Flat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconFlat</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Macros</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconMacros</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconWhite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>IconDefault</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Default</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>IconDefault@3x</string>
			<key>CFBundleURLName</key>
			<string>uk.jw3.Deadlines</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>deadlines</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
